@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {	
--color-tomato: hsl(4, 100%, 67%);
--color-dark-slate-grey: hsl(234, 29%, 20%);
--color-charcoal-grey: hsl(235, 18%, 26%);
--color-grey: hsl(231, 7%, 60%);
--color-white: hsl(0, 0%, 100%);
}

html {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

img {
	display: block;
	width: 100%;
}

body {
	height: 100vh;
	width: 100vw;
}

main {
	width: 100%;
	container-type: inline-size;
	background-color: white;
}

.desktop-figure {
	display: none;
}

.mobile-figure {
	max-width: 31.25rem;
	margin: 0 auto;
}

.main-text {
	width: 100%;
	padding: 7cqi 7cqi 3cqi 7cqi;
}

/* Stay Updated! */
.main-text > p:first-child {
	font-size: 11cqi;
	font-weight: 700;
	padding: 0cqi 0 6cqi 0;
}

/* Join..... */
.main-text > p:nth-child(2) {
	font-size: 4.27cqi;
}

ul {
	list-style: none;
	font-size: 4.27cqi;
	padding: 6cqi 0 10cqi 0;
}

ul li {
	line-height: 1.5em;
	width: 100%;
	background: url('../assets/images/icon-list.svg') no-repeat;
	padding-left: 8cqi;
	background-size: 6cqi;
	margin-top: 3cqi;
}

input {
	border: 1px solid var(--color-grey);
	width: 100%;
	height: 14cqi;
	border-radius: .5rem;
	padding-left: 6cqi;
	font-weight: 700;
	margin: 3cqi auto 0 auto;
}

.success-message {
	display: none;
	width: 100%;
	
}

label {
	font-size: 3.5cqi;
	font-weight: 700;
}

input::placeholder {
	font-size: 4cqi;
	color: var(--color-grey);
}

button {
	border: none;
	margin-top: 6cqi;
	width: 100%;
	height: 14cqi;
	border-radius: .5rem;
	color: white;
	font-size: 4cqi;
	font-weight: bold;
	background-color: var(--color-dark-slate-grey);
}

.subscribe-button-invalid {
	background-color: grey;
}

.subscribe-button-valid {
	cursor: pointer;
	display: none;
}

@media (min-width: 961px) {

	body {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		background: var(--color-charcoal-grey);
	}

	main {
		display: flex;
		flex-flow: row nowrap;
		width: 70%;
		container-type: normal;
		padding-bottom: 0;
		border-radius: 2rem;
		margin-bottom: 1rem;
	}

	.main-text {
		width: 50%;
		container-type: inline-size;
		padding: 12% 0 0 6%;
	}

	.main-text > p:first-child {
		font-size: 15cqi;
	}

	.mobile-figure {
		display: none;
	}

	.desktop-figure {
		display: block;
		width: 50%;
		margin: 2rem;
	}

	.attribution {
		color: white;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: darkorange;
}